<div class="Burger">
  <div class="BreadTop">
    <div class="Seeds1"></div>
    <div class="Seeds2"></div>
  </div>
    <div *ngFor="let i of makeBaconArray()" [ngClass]="baconClass()"></div>
    <div *ngFor="let i of makeSaladArray()" [ngClass]="saladClass()"></div>
    <div *ngFor="let i of makeCheeseArray()" [ngClass]="cheeseClass()"></div>
    <div *ngFor="let i of makeMeatArray()" [ngClass]="meatClass()"></div>
  <div class="BreadBottom"></div>
</div>
