<div class="container mb-3 text-center">
  <h1 class="mt-5 text-uppercase">Build your Burger</h1>
  <div class="row mt-5">
    <div class="col">
      <h3 class="m-3 text-uppercase">Ingredients</h3>
      <app-ingredients (displayIngredients)="onIngDis($event)" [ingredients]="ingredients"></app-ingredients>
    </div>
    <div class="col">
      <h3 class="m-3 text-uppercase">Burger</h3>
      <app-burger-block [displayIngredients]="ingredientsDisplay" [ingredients]="ingredients"></app-burger-block>
    </div>
  </div>
</div>
