.col-sm-8 {
  margin: auto;
}
.col-sm-4 {
  border-right: 1px solid rgba(0,0,0,.125);;
}
.card-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.addBtn {
  border: none;
  background-color: transparent;
}
img {
  height: 85px;
}
