.addBtn {
  border: none;
  background-color: transparent;
}
img {
  height: 85px;
}
.col-sm-4 {
  border-right: 1px solid rgba(0,0,0,.125);;
}
.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.delBtn {
  border-radius: 5px;
  margin-right: -10px;
}
