<div class="card mb-2">
  <div class="row no-gutters">
    <div class="col-sm-4">
      <button class="addBtn" (click)="onAddCount()"><img [src]="imageUrl" [alt]="ingredient.name" style="max-width: 100%"></button>
    </div>
    <div class="col-sm-8">
      <div class="card-body">
        <span><strong>{{ ingredient.name }}</strong></span><span> x <strong>{{ ingredient.amount }}</strong></span>
        <button class="btn btn-warning delBtn" (click)="onReduceAmount()" [disabled]=buttonDisable()>Delete</button>
      </div>
    </div>
  </div>
</div>
